@font-face {
  font-family: "思源宋体";
  src: local('./SourceHanSerifSC-VF.otf.woff2') format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  background-color: #333842;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: '思源宋体', -apple-system;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor:default;
  -webkit-user-select:none;
  user-select:none;

  /* height: 300px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}
button{
  font-family: '思源宋体';
}